{{#if isEditingLessonName}}
  {{input type="text" placeholder=name value=name id="lesson-name"}}<br/>
  <button {{action 'updateLessonName' this}} id="update-lesson-name">Update Lesson Name</button>
{{else}}
  <button {{action 'editLessonName'}} id="edit-lesson-name">Edit Lesson Name</button>
{{/if}}
<br/>

{{#each question in questions}}
  {{#if controllers.question.isEditing}}
    {{input type="text" placeholder=question.content value=question.content class="question-content"}}
    <button {{action 'saveQuestion' question}} class="save-question">Save Question</button>
    <button {{action 'removeQuestion' question}} class="remove-question">Remove Question</button>
    <br/>
  {{else}}
    {{question.content}}
    <button {{action 'editQuestion'}} class="edit-question">Edit Question</button>
    <button {{action 'removeQuestion' question}} class="remove-question">Remove Question</button>
    <br/> 
  {{/if}}
  <br>
    {{#each answer in question.answers}}
      {{#if controllers.answer.isEditing}}
        {{input type="text" placeholder=answer.content value=answer.content class="answer-content"}}
        Correct? {{input type="checkbox" checked=answer.correct}}
        <button {{action 'saveAnswer' answer}} class="save-answer">Save Answer</button>
        <button {{action 'removeAnswer' answer}} class="remove-answer">Remove Answer</button>
        <br/>
      {{else}}
        {{answer.content}}
        <button {{action 'editAnswer'}}>Edit Answer</button>
        <button {{action 'removeAnswer' question answer}}>Remove Answer</button>
        <br/>
      {{/if}}
    {{/each}}
  <br>
  <button {{action 'addAnswer' question}} class="add-answer">Add Answer</button>
  <br>
{{else}}
    <b>This lesson has no questions.</b>
{{/each}}

<br>
<button {{action 'addQuestion' this}} id="new-question">Add Question</button>
<button {{action 'done'}} id="done">Done</button>




