{{#each question in questions}}
  {{input type="text" placeholder=question.content value=question.content class="question-content"}}
  <button {{action 'saveQuestion' question}} class="save-question">Save</button>
  <button {{action 'removeQuestion' question}} class="remove-question">Remove</button>
  <br>
    {{#each answer in question.answers}}
      {{input type="text" placeholder=answer.content value=answer.content}}
      Correct? {{input type="checkbox" checked=answer.correct}}
      <button {{action 'saveAnswer' answer}}>Save Answer</button>
      <button {{action 'removeAnswer' answer}}>Remove Answer</button>
      <br>
    {{/each}}
  <br>
  <button {{action 'addAnswer' question}}>Add Answer</button>
  <br>
{{else}}
    <b>This lesson has no questions.</b>
{{/each}}

<br>
<button {{action 'addQuestion' this}} id="new-question">Add Question</button>
<button {{action 'done'}} id="done">Done</button>




