{{#if isEditing}}
  {{input type="text" placeholder=name value=name id="lesson-name"}}<br/>
  {{textarea value=summary cols="80" rows="6" id="lesson-summary"}}<br/>
  {{#if name}}
    <button {{action 'updateLessonSummaryOrName' this}} id="update-lesson-name">Update</button>
  {{else}}
    <button disabled="true">Update</button>
  {{/if}}
{{else}}
  <button {{action 'editLessonSummaryOrName'}} id="edit-lesson-name">Edit</button>
{{/if}}
<br/>

{{#each question in questions itemController="question"}}
  {{#if question.isEditing}}
    {{input type="text" placeholder=content.content value=content.content class="question-content"}}
    {{view Ember.Select content=questionTypes value=selectedType class="question-category"}}
    Feedback: {{input type="text" placeholder=content.feedback value=content.feedback class="question-feedback"}}
    {{#if content.content}}
      <button {{action 'saveQuestion'}} class="save-question">Save Question</button>
      <br/>
    {{else}}
      <button disabled="true">Save Question</button>
      <br/>
    {{/if}}
  {{else}}
    {{content.content}}
    {{content.category}}
    Feedback: {{content.feedback}}
    <br/>
    <button {{action 'editQuestion'}} class="edit-question">Edit Question</button>
    <button {{action 'removeQuestion'}} class="remove-question">Remove Question</button>
    <br/> 
  {{/if}}
  <br>
    {{#if question.isMultipleChoice}}
        {{#each answer in answers itemController="answer"}}
          {{#if answer.isEditing}}
            {{input type="text" placeholder=content.content value=content.content class="answer-content"}}
              Correct? {{input type="checkbox" checked=content.correct class="mark-correct"}}
              {{#if content.content}}
                <button {{action 'saveAnswer' question}} class="save-answer">Save Answer</button>
                <br/>
              {{else}}
                <button disabled="true">Save Answer</button>
                <br/>
              {{/if}}
         {{else}}
            {{content.content}}
            <button {{action 'editAnswer'}} class="edit-answer">Edit Answer</button>
            <button {{action 'removeAnswer' question}} class="remove-answer">Remove Answer</button>
            <br/>
          {{/if}}
        {{/each}}
      <br>
      <button {{action 'addAnswer' question}} class="add-answer">Add Answer</button>
      <br>
    {{/if}}
{{else}}
    <b>This lesson has no questions.</b>
{{/each}}

<br>
<button {{action 'addQuestion'}} id="new-question">Add Question</button>
<button {{action 'done'}} id="done">Done</button>




