{{#each question in questions}}
  <span class="question-content">{{question.content}}</span>
  <br>
  <form>
    <div class="answers">{{answer-select answers=question.answers question=question}}</div>
  </form>
  <br>
{{else}}
   <b>This lesson has no questions.</b><br/>
{{/each}}

{{#if userIsOwner}}
	<button {{action "edit" this}} id="edit-lesson">Edit</button>
	<button {{action "delete" this}} id="delete-lesson">Delete</button>
{{/if}}