{{#if isMultipleChoice}}
	{{#each answer in answers}}
		{{radio-button value=answer.correct name=question.id selection=response class="mc-answer"}} {{answer.content}}
		<br>
	{{/each}}
	{{response}}
	<br/>
{{else}}
  {{textarea cols="60" rows="10" class="essay-space" value=response}}
{{/if}}
<div class="feedback">{{feedback}}</div>
<br/>
{{#if canSaveResponse}}
	<button {{action 'saveResponse' question}} class="save-response">Save Response</button>
{{else}}
	<button disabled="true">Save Response</button>
{{/if}}