<h2>Login</h2>

<form {{action "loginUser" on="submit"}}>
  {{input type="text" value=username_or_email placeholder="Username or Email Address" id="username-or-email"}}<br>
  {{input type="password" value=password placeholder="Password" id="login-password"}}
  {{#if required_present}}
  	<button type="submit" id="new-session">Login</button>
  {{else}}
    <button disabled=true>Login</button>
  {{/if}}
  <b>{{error}}</b>
</form>