<h1>{{name}}</h1>

<button {{action "edit" this}} id="edit-course">Edit</button>
<button {{action "delete" this}} id="delete-course">Delete</button>
<button {{action "viewLessons" this}} id="view-lessons">View Lessons</button>

{{outlet}}