<h1>Edit Course</h1>

<h2>Update Course Name</h2>
{{input type="text" value=name id="edit-course-name" placeholder=this.name}}
<br/>
<h2>Update Course Summary</h2>
{{textarea value=summary cols="80" rows="6" id="edit-course-summary"}}

{{#if name}}
	<button {{action "update" this}} id="update-course">Update</button>
{{else}}
	<button disabled=true>Update</button>
{{/if}}
<button {{action "cancel" this}} id="cancel-update">Cancel</button>

{{outlet}}