<h2>Register</h2>

{{#form-for this}}
  {{input name label="Full Name"}}
  {{input email label="Email Address"}}
  {{input username label="Username"}}
  {{input password label="Password"}}
  {{input password_confirmation label="Confirm Password"}}
  <button {{action 'submit' this}}>Submit</button>
{{/form-for}}