<h2>Create a Lesson</h2>

{{#form-for this}}
  {{#input name}}
    {{input-field name id="new-lesson-name"}}{{label-field "Lesson name"}}
    <br/>
    {{error-field name}}
  {{/input}}
  {{#if name}}
    <button {{action "submit" this}} id="save-lesson">Create</button>
  {{else}}
    <button disabled="true">Create</button>
  {{/if}}
    <button {{action "cancel" this}} id="cancel-new-lesson">Cancel</button>
{{/form-for}}
<br/>

{{outlet}}